<div class="contentBox">
  <p>
     <span (click)="goBack()"><</span>
     <span>提现到支付宝</span>
  </p>
  <div class="vd-alipay">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="tixianAlipay()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>账号
          <i nz-icon nz-tooltip nzTitle="请认真填写否则您将无法收到我们的汇款" style="vertical-align: middle;color: #D10000" theme="outline"
             type="question-circle"></i> :</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['account']">
          <input formControlName="account" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
          <input nz-input  formControlName="realName" />
          <nz-form-explain *ngIf="validateForm.get('realName')?.dirty && validateForm.get('zhangHao')?.errors">
            <ng-container *ngIf="validateForm.get('realName')?.hasError('realName')">
              请输入真实姓名
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:100px;">
        <nz-form-control [nzSm]="{ span: 14, offset: 6 }" [nzXs]="{ span: 24, offset: 0 }">
          <div nz-col [nzSpan]="24">
            <button nzBlock nz-button [disabled]="validateForm.invalid" style="background: #ccc;color: #fff;">提现</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
