<div class="zixunBox">
  <p class="p_top">
    <span (click)="goBack()"><</span>
    <span>求职实习</span>
  </p>
  <div style="padding: 0 17px 25px;border-bottom: 1px #DBDBDB solid">
    <h1>{{infoMsg?.title}}</h1>
    <p>
      <span>来源：{{infoMsg?.source}}</span>
      <span>{{infoMsg?.gmtCreate}}</span>
    </p>
  </div>
  <div class="contentPs" style="width:100%;box-sizing:border-box;padding: 25px 15px;border-bottom: 1px #DBDBDB solid" [innerHTML]="infoMsg?.articleContent"></div>
  <div style="font-size: 14px;color: #404040;padding: 39px 15px 15px;font-family: SourceHanSansCN-Bold;font-weight: bold">
    <p (click)="upload(infoMsg?.upid)" style="margin-bottom: 25px" *ngIf="infoMsg?.upid !== null && infoMsg?.upid !== 'null'">
      <span>上一篇：</span>
      <span>{{infoMsg?.uptitle}}</span>
    </p>
    <p (click)="upload(infoMsg?.downid)" *ngIf="infoMsg?.downid !== null && infoMsg?.downid !== 'null'">
      <span>下一篇：</span>
      <span>{{infoMsg?.downtitle}}</span>
    </p>
  </div>
</div>

