<ng-container *ngIf="httpService.devType">
  <div class="album-head-con li-v-d" itemscope="" itemtype="http://schema.org/TVSeries">
    <div class="album-head-info clearfix" *ngIf="!isplay">
      <div class="info-img">
        <a (click)="play()">
          <img [src]="courseInfo?.coverUrl" id="j-album-img" itemprop="image">
        </a>
      </div>


      <div class="info-intro">
        <h1 itemprop="name" class="j-head-hot-wrap">
          <a>{{courseInfo?.title}}</a>
        </h1>
        <!-- 简介 -->
        <div class="episodeIntro titleInfo-viserabHei" data-widget-elem="moreorless">
          <div class="episodeIntro-item clearfix">
            <div class="episodeIntro-line">
              <p class="episodeIntro-area" itemprop="contentLocation">
                <em>播放次数：</em>
                <a style="color: #d10000;">{{courseInfo?.playCount}}</a>次
              </p>
              <!-- <p class="episodeIntro-time" itemprop="datePublished">
                <em>是否免费：</em>
                <span>{{courseInfo?.freeFlag ? '是':'否'}}</span>
              </p> -->
            </div>

          </div>
          <!-- 展开前 -->
          <div class="shortWordIntro-brief" data-moreorless="lessinfo" itemprop="description">
            <em>简介：</em>
            <span class="briefIntroTxt">{{courseInfo?.intro}}</span>
          </div>
        </div>
        <!-- 播放按钮 -->
        <div class="intro-btns clearfix" style="padding-top: 1.3vw">
          <button nz-button nzType="primary" nzSize="large" (click)="play()">立即播放</button>
          <a class="albumPlayBtn"><i nz-icon nzType="share-alt" nzTheme="outline"></i>分享</a>
        </div>

      </div>
    </div>
    <video controls="true" controlslist="nodownload" style="display: block;width: 100%;margin: 20px 0;outline: none;" *ngIf="isplay">
      <source [src]="courseInfo?.videoUrl">
    </video>


    <!--    相关课程推荐-->
    <!--    相关课程推荐-->
    <!--    相关课程推荐-->
    <!--    相关课程推荐-->
    <!--    相关课程推荐-->


  </div>
</ng-container>

<!--手机-->
<ng-container *ngIf="!httpService.devType">
  <div class="mb-poster">
    <div class="mb-box-preview" *ngIf="!isplay" (click)="play($event)">
      <img [src]="courseInfo?.coverUrl">
    </div>
    <video id="videos" controls style="display: block;width: 100%;outline: none;position: relative;z-index: 1;" *ngIf="isplay">
      <source [src]="courseInfo?.videoUrl">
    </video>
  </div>
  <div class="mb-video-info">
    <p class="episodeIntro-area"><em>播放次数：</em><a>{{courseInfo?.playCount}}次</a></p>
    <!-- <p class="episodeIntro-time"><em >是否免费：</em><span >否</span></p> -->
  </div>
  <p class="mb-video-intro"><em>简介：</em>{{courseInfo?.intro}}</p>
</ng-container>

<!-- <div class="vd-tabwrapper">
  <nz-tabset>
    <nz-tab nzTitle="相关视频">
      <nz-list [nzDataSource]="hots" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, xs: 6, sm: 6, md: 6, lg: 6, xl: 6 }">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-tab>
  </nz-tabset>
</div> -->
