<div class="vd-box gaokao">
  <img alt="" class="head-img" src="https://zcsn-public-prod.oss-cn-hangzhou.aliyuncs.com/banner/e2e16f5fcc144e52a5cd5ef11424a9be.png?x-oss-process=image/quality,Q_30/resize,h_540/interlace,1">
  <div class="wrap">
    <div class="left">

      <div class="tabs">
        <div
          (click)="changeTab(tabIndex)"
          *ngFor="let tab of Tabs; let tabIndex = index"
          [ngClass]="{active:tabIndex === activeTab}"
          class="tab"
        >{{tab}}</div>
      </div>

      <div class="content">
        <ul class="list">
          <li (click)="router.navigateByUrl('/gaokao-detail?id='+ i.id + '&type=' + i.type)"
              *ngFor="let i of dataList"
              class="item"
          >
            <img
              [hidden]="!i.thumbnail || i.thumbnail==='' || i.thumbnail ==='{}' || i.thumbnail === null"
              [src]="i.thumbnail"
              alt=""
              class="">
            <section>
              <h1>
                {{i.title}}
              </h1>

              <div class="eclips">
                <article [innerHTML]="i.articleContent">
                  <!--{{i.articleContent}}-->
                </article>
              </div>

              <footer>
                来源：{{i.source}} &nbsp;&nbsp;{{i.gmtCreate}}
              </footer>
            </section>
          </li>
        </ul>
      </div>
    </div>

    <div class="right">
      <div class="title">热点新闻</div>
      <div class="content">
        <ul>
          <li
            (click)="router.navigateByUrl('/gaokao-detail?id='+ i.id + '&type=' + i.type)"
            *ngFor="let i of hot"
          >{{i?.title}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom">
    <nz-pagination (nzPageIndexChange)="changePage($event)" [nzItemRender]="renderItemTemplate" [nzPageIndex]="current" [nzPageSize]="size" [nzTotal]="total"></nz-pagination>
  </div>
  <ng-template #renderItemTemplate let-page="page" let-type>
    <!--    <a *ngIf="type === 'pre'">上一页</a>-->
    <!--    <a *ngIf="type === 'next'">下一页</a>-->
    <a *ngIf="type === 'page'">{{ page }}</a>
  </ng-template>
</div>
