<div [ngClass]="{'mb-user': !httpService.devType}" class="clearfix" style="width: 900px;margin: 155px auto">
  <div style="margin-bottom: 25px;display: flex;justify-content: space-between;align-items: baseline">
    <img alt="" src="../../assets/logo.png" width="324">
    <div style="">
      <span>已有账号？</span>
      <span (click)="router.navigateByUrl('/login')" style="color: #D10000;font-size: 14px">去登录</span>
      <span>&nbsp;|&nbsp;</span>
      <span (click)="router.navigateByUrl('/index')" style="color: #D10000;font-size: 14px">返回职场司南</span>
    </div>
  </div>

  <div style="width: 900px;height: 497px;background-color: #ffffff;box-shadow: 0px 0px 10px 0px	rgba(0, 0, 0, 0.08);">

    <h3 style="margin-bottom:50px;width: 900px;height: 60px;background-color: #999999;text-align: center;line-height: 60px;font-family: MicrosoftYaHei;font-size: 24px;font-weight: normal;font-stretch: normal;color:white">用户注册</h3>

    <form (ngSubmit)="login()" [formGroup]="validateForm" class="li-form" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzValidateStatus]="validateForm.controls['username']" [nzXs]="24">
          <input formControlName="username" id="'phoneNumber'" nz-input/>
          <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.errors">
            请输入您的电话号码
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="password" id="password" nz-input type="password"/>
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">长度为4-16，只支持大小写字母及数字</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSm]="{ span: 14, offset: 6 }" [nzXs]="{ span: 24, offset: 0 }">
          <div [nzSpan]="24" nz-col>
            <button [disabled]="validateForm.invalid" [nzType]="'primary'" nz-button nzBlock nzSize="large" style="background: #ccc;color: #fff;border: none">登录</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>

  </div>
  <footer style="padding-top: 40px">
    Copyright © 2018-2019 职场司南 浙ICP备18039212号 <i nz-icon nzTheme="outline" nzType="phone"></i> 0571-85383155
  </footer>
</div>

