<nz-carousel [nzEffect]="effect"
             [nzDots]="bannerlist.length>1"
             [nzAutoPlay]="true"
             [nzAutoPlaySpeed]="7000"
             *ngIf="bannerlist.length"
             [nzEnableSwipe]="true">
  <div nz-carousel-content *ngFor="let index of bannerlist"
       style="cursor: pointer;height: 21vw"
  >
    <div *ngIf="index.courseId" [routerLink]="'../vd/'+index.courseId">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </div>
    <a *ngIf="!index.courseId && index.link" [href]="index.link" style="display: block;">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </a>
    <div *ngIf="!index.courseId && !index.link">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </div>
  </div>
</nz-carousel>

<style>
  .hover-red:hover {
    color: #D10000 !important;
    cursor: pointer;
  }
</style>

<ng-container *ngIf="httpService.devType">
  <!--  热门视频    -->
  <div class="vd-wrapper">
    <div class="vd-box">
      <div class="vd-box-header">
        <h1 class="vd-box-title">热门视频</h1>
        <div class="vd-pagination">
          <!-- todo：查看更多-->
          <a routerLink="../hot">查看更多 <i nz-icon nzType="double-right" nzTheme="outline"></i></a>
        </div>
      </div>

      <nz-list
        [nzDataSource]="hots?.currentData"
        [nzRenderItem]="item"
        [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6  }"
      >
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--  广告位 -->
    <ng-container>
      <div class="vd-wrapper">
        <div class="vd-box">
          <div class="vd-box-header">
            <img class="li-ad-img" src="../../assets/广告位.png" alt="">
          </div>
        </div>
      </div>
    </ng-container>

    <!--    发展之路    -->
    <div class="vd-box li-fa-zan-zhi-lu" style="padding-top: 30px">
      <div class="vd-box-header">
        <h1 class="vd-box-title">职业发展</h1>
        <div class="vd-pagination">
          <a routerLink="../development">查看更多 <i nz-icon nzType="double-right" nzTheme="outline"></i></a>
        </div>
      </div>
      <nz-list [nzDataSource]="developList" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6 }">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--    职业菜单    -->
    <!--    <div class="vd-divilier">-->
    <!--      <img src="../../assets/banner5.png">-->
    <!--      <img src="../../assets/banner6.png">-->
    <!--    </div>-->

    <div class="vd-box  li-fa-zan-zhi-lu" style="padding-bottom: 100px !important;">
      <div class="vd-box-header">
        <h1 class="vd-box-title">热门岗位 </h1>
        <div class="vd-pagination">
          <a routerLink="../profession">查看更多 <i nz-icon nzType="double-right" nzTheme="outline"></i></a>
        </div>
      </div>
      <nz-list [nzDataSource]="professionList" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6 }">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->
    <div class="vd-box" style="padding-top: 50px">
      <div class="vd-box-header">
        <h1 class="vd-box-title">高考资讯 </h1>
        <div class="vd-pagination">
          <a routerLink="../profession">查看更多 <i nz-icon nzType="double-right" nzTheme="outline"></i></a>
        </div>
      </div>


      <div class="li-gao-kao">
        <div class="item" *ngFor="let item of [1123123213,2123213213123,3123213213]">
          <img src="../../assets/gk.png" alt="">

          <div class="content">
            <h6>招考政策</h6>

            <ul *ngFor="let news of [1123213213213213,2123213213213,1232131231233,4123123,5123123123123]">
              <li class="hover-red"><span></span> {{news}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--广告位-->
    <!--广告位-->
    <!--广告位-->

    <div class="vd-box" style="background: none">
      <img alt="" class="li-ad-img shadow-box" src="../../assets/广告位.png">
    </div>

    <!--    共用底部-->
    <div class="vd-slogan-wrapper">
      <div class="vd-slogan">
        <p>现在就去注册，为自己的职业发展做选择</p>
        <span>职场司南，专注于大学生及毕业五年内群体的职业发展</span>
        <br>
        <button nz-button nzSize="large" nzType="primary">专业的指导意见</button>
      </div>

    </div>
  </div>
</ng-container>



<!--手机端 ??? -->
<ng-container *ngIf="!httpService.devType">
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">热门视频</h1>
      <span (click)="mbPagination()">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="hots?.currentData?hots?.currentData:[]" [nzRenderItem]="item" [nzGrid]="{ gutter: 10, xs: 12 }">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button nz-button (click)="mbPagination()" nzType="default" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">职业发展</h1>
      <span routerLink="../development">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="developList" [nzRenderItem]="item" [nzGrid]="{ gutter: 10, xs: 12 }">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button routerLink="../development" nz-button nzType="default" style="margin-top: 30px;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">热门岗位</h1>
      <span routerLink="../profession">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="professionList" [nzRenderItem]="item" [nzGrid]="{ gutter: 10, xs: 12}">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button routerLink="../profession" nz-button nzType="default" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">高考资讯</h1>
      <span routerLink="../zixun">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="professionList" [nzRenderItem]="item" [nzGrid]="{ gutter: 10, xs: 12}">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button routerLink="../zixun" nz-button nzType="default" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
</ng-container>
