<nz-carousel *ngIf="bannerlist.length"
             [nzAutoPlaySpeed]="7000"
             [nzAutoPlay]="true"
             [nzDots]="bannerlist.length>1"
             [nzEffect]="effect"
             [nzEnableSwipe]="true">
  <div *ngFor="let index of bannerlist"
       nz-carousel-content
       style="cursor: pointer;height: 21vw"
  >
    <div *ngIf="index.courseId" [routerLink]="'../vd/'+index.courseId">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </div>
    <a *ngIf="!index.courseId && index.link" [href]="index.link" style="display: block;">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </a>
    <div *ngIf="!index.courseId && !index.link">
      <img [src]="index.imageUrl" style="display: block;width: 100%;">
    </div>
  </div>
</nz-carousel>

<style>
  .hover-red:hover {
    color: #D10000 !important;
    cursor: pointer;
  }
</style>

<ng-container *ngIf="httpService.devType">
  <!--  热门视频    -->
  <div class="vd-wrapper">
    <div class="vd-box">
      <div class="vd-box-header">
        <h1 class="vd-box-title">热门视频</h1>
        <div class="vd-pagination">
          <!-- todo：查看更多-->
          <a routerLink="../hot">查看更多 <i nz-icon nzTheme="outline" nzType="double-right"></i></a>
        </div>
      </div>

      <nz-list
        [nzDataSource]="hots?.currentData"
        [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6  }"
        [nzRenderItem]="item"
      >
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--  广告位 -->
    <ng-container>
      <div class="vd-wrapper">
        <div class="vd-box">
          <div class="vd-box-header">
            <img alt="" class="li-ad-img" src="../../assets/广告位.png">
          </div>
        </div>
      </div>
    </ng-container>

    <!--    发展之路    -->
    <div class="vd-box li-fa-zan-zhi-lu" style="padding-top: 30px">
      <div class="vd-box-header">
        <h1 class="vd-box-title">职业发展</h1>
        <div class="vd-pagination">
          <a routerLink="../development">查看更多 <i nz-icon nzTheme="outline" nzType="double-right"></i></a>
        </div>
      </div>
      <nz-list [nzDataSource]="developList" [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6 }" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--    职业菜单    -->
    <!--    <div class="vd-divilier">-->
    <!--      <img src="../../assets/banner5.png">-->
    <!--      <img src="../../assets/banner6.png">-->
    <!--    </div>-->

    <div class="vd-box  li-fa-zan-zhi-lu" style="padding-bottom: 100px !important;">
      <div class="vd-box-header">
        <h1 class="vd-box-title">热门岗位 </h1>
        <div class="vd-pagination">
          <a routerLink="../profession">查看更多 <i nz-icon nzTheme="outline" nzType="double-right"></i></a>
        </div>
      </div>
      <nz-list [nzDataSource]="professionList" [nzGrid]="{ gutter: 16, sm: 12, md: 8, lg: 6 }" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->
    <!--    高考资讯-->

    <!--    fixme : 图片数组-->
    <div class="vd-box" style="padding-top: 50px">
      <div class="vd-box-header">
        <h1 class="vd-box-title">高考资讯 </h1>
        <div class="vd-pagination">
          <a routerLink="../profession">查看更多 <i nz-icon nzTheme="outline" nzType="double-right"></i></a>
        </div>
      </div>


      <div class="li-gao-kao">
        <div *ngFor="let item of gaokaozixun" class="item">
          <img alt="" src="../../assets/gk.png">

          <div class="content">
            <h6>{{item.title}}</h6>

            <ul *ngFor="let news of item">
              <li class="hover-red"><span></span> {{news?.title}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--广告位-->
    <!--广告位-->
    <!--广告位-->

    <div class="vd-box" style="background: none">
      <img alt="" class="li-ad-img shadow-box" src="../../assets/广告位.png">
    </div>

    <!--    共用底部-->
    <div class="vd-slogan-wrapper">
      <div class="vd-slogan">
        <p>现在就去注册，为自己的职业发展做选择</p>
        <span>职场司南，专注于大学生及毕业五年内群体的职业发展</span>
        <br>
        <button nz-button nzSize="large" nzType="primary">专业的指导意见</button>
      </div>

    </div>
  </div>
</ng-container>


<!--手机端 ??? -->
<ng-container *ngIf="!httpService.devType">
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">热门视频</h1>
      <span (click)="mbPagination()">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="hots?.currentData?hots?.currentData:[]" [nzGrid]="{ gutter: 10, xs: 12 }" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button (click)="mbPagination()" nz-button nzType="default" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">职业发展</h1>
      <span routerLink="../development">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="developList" [nzGrid]="{ gutter: 10, xs: 12 }" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button nz-button nzType="default" routerLink="../development" style="margin-top: 30px;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">热门岗位</h1>
      <span routerLink="../profession">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <nz-list [nzDataSource]="professionList" [nzGrid]="{ gutter: 10, xs: 12}" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="text-align: center">
        <button nz-button nzType="default" routerLink="../profession" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
  <div class="mb-box-wrapper">
    <div class="mb-box-header" style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px">
      <h1 style="margin-bottom: 0">高考资讯</h1>
      <span routerLink="../zixun">查看更多   ></span>
    </div>
    <div class="mb-box-body">
      <!--<nz-list [nzDataSource]="gaokaozixun" [nzGrid]="{ gutter: 10, xs: 12}" [nzRenderItem]="item">-->
        <!--<ng-template #item let-item>-->
          <!--<nz-list-item [nzContent]="nzContent">-->
            <!--<ng-template #nzContent>-->
              <!--<app-vditem [data]="item" [devType]="httpService.devType"></app-vditem>-->
            <!--</ng-template>-->
          <!--</nz-list-item>-->
        <!--</ng-template>-->
      <!--</nz-list>-->

      <nz-carousel *ngIf="gaokaozixun.length"
                   [nzAutoPlaySpeed]="7000"
                   [nzAutoPlay]="false"
                   [nzEffect]="effect"
                   [nzEnableSwipe]="true"
                   [nzDots]="false"
                   (nzBeforeChange)="changeCarousel($event)">
        <div *ngFor="let index of gaokaozixun"
             nz-carousel-content
             style="cursor: pointer;"
        >
          <div style="background: #F6F6F6;padding: 26px 4px 31px 16px">
            <p style="color: #D10000;font-size: 18px;margin-bottom: 0">招考政策</p>
            <div style="display: flex;line-height:29px;align-items: center;color: #404040;font-size: 14px">
              <span style="width: 4px;height: 4px;background: #d10000;border-radius: 50%;display: inline-block;margin-right: 10px"></span>
              <p style="margin-bottom: 0">152512</p>
            </div>
          </div>
          <!--<a *ngIf="!index.courseId && index.link" [href]="index.link" style="display: block;">-->
            <!--<img [src]="index.imageUrl" style="display: block;width: 100%;">-->
          <!--</a>-->
          <!--<div *ngIf="!index.courseId && !index.link">-->
            <!--<img [src]="index.imageUrl" style="display: block;width: 100%;">-->
          <!--</div>-->
        </div>
      </nz-carousel>
      <div class="dots_box">
        <p  *ngFor="let item of gaokaozixun; let i = index" [class]="dotIndex==i?'activeP':''"></p>
      </div>

      <div style="text-align: center">
        <button nz-button nzType="default" routerLink="../zixun" style="margin: 30px 0;background: #D10000;color: #fff;">加载更多</button>
      </div>
    </div>
  </div>
</ng-container>

<style>
  .dots_box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dots_box>p {
    width:10px;
    height:10px;
    background:#F2F2F2;
    border-radius:50%;
    margin-left: 5px;
  }
  .dots_box>p:nth-child(1){
    margin-left: 0;
  }
  .activeP {
    background:rgba(234,0,20,1)!important;
  }
</style>
