<div class="vd-user clearfix vd-reward" [ngClass]="{'mb-user': !httpService.devType}">
  <h1 style="font-size: 20px;">一、活动介绍</h1>
  <p>5月1日-5月31日，邀请好友注册并购买职场司南会员可得精美奖品；</p>
  <p>截止5月31日24时整，累计邀请好友数量及对应奖品如下：</p>
  <ul class="vd-rewardlist clearfix">
    <li>
      <div class="goods" style="background-image: url('../../assets/1.png')"></div>
      <p>累计邀请5人</p>
      <p>金士顿 64G USB3.0 U盘</p>
    </li>
    <li>
      <div class="goods">
        <a href="javascript:;" class="card">
          <div class="aui-current-item-hd">
            <h1>150元<em>话费券</em></h1>
          </div>
        </a>
      </div>
      <p>累计邀请10人</p>
      <p>150元话费</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/2.png')"></div>
      <p>累计邀请20人</p>
      <p>月光宝盒 F130 16G MP3/MP4 HIFI无损音乐播放器</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/3.png')"></div>
      <p>累计邀请30人</p>
      <p>富士INSTAX立拍立得 mini9 相机</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/4.png')"></div>
      <p>累计邀请40人</p>
      <p>索尼 DSC-W830 便携数码相机</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/5.png')"></div>
      <p>累计邀请50人</p>
      <p>小米Play 流光渐变AI双摄 4GB+64GB 全网通4G 双卡双待 小水滴全面屏手机</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/6.png')"></div>
      <p>累计邀请70人</p>
      <p>富士INSTAX 立拍立得 一次成像相机 MINI90相机</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/7.png')"></div>
      <p>累计邀请90人</p>
      <p>华为 畅享 9S 4GB+128GB 全网通手机</p>
    </li>
    <li>
      <div class="goods">
        <a href="javascript:;" class="card">
          <div class="aui-current-item-hd">
            <h1>2000元<em>现金</em></h1>
          </div>
        </a>
      </div>
      <p>累计邀请100人</p>
      <p>2000元现金</p>
    </li>
    <li>
      <div class="goods" style="background-image: url('../../assets/8.png')"></div>
      <p>累计邀请150人</p>
      <p>Apple iPad mini 4 平板电脑7.9英寸 128G WLAN版/A8芯片</p>
    </li>
    <li>
      <div class="goods">
        <a href="javascript:;" class="card">
          <div class="aui-current-item-hd">
            <h1>20元/<em>人</em></h1>
          </div>
        </a>
      </div>
      <p>累计邀请200人及以上</p>
      <p>按20元/人以现金结算</p>
    </li>
  </ul>
  <p>提示：好友要购买会员才算哦！！！</p>
  <h1 style="font-size: 20px;">二、操作方法</h1>
  <p>注册账号——点击分享——下载二维码——分享给好友/朋友圈（邀请加入）</p>
  <p>提示：一定要让他们扫码进入哦；直接通过搜索“职场司南”进入是不计数的！</p>
  <h1 style="font-size: 20px;">三、一定要有文字介绍哦！</h1>
  <p>我们不提倡为奖品而推荐，只希望职场司南能帮助到真正需要他的人，所以说明它的价值很关键，以下几个案例可以参考哦！</p>
  <p>1、不知道自己专业毕业后是干什么的可以看过来哦，职场司南都有介绍的！</p>
  <p>2、不知道自己适合从事什么岗位的可以看过来哦，这里都有介绍的！</p>
  <p>3、不知道该不该考研；不知道找工作、面试、三方协议有哪些注意事项的都可以看过来哦，这里都有详细介绍的！</p>
</div>