// 二开
.li-ad-img {
  width: 100%;
  margin: 0 0 70px 0;
}


// 两侧留白
.vd-box {
  padding: 4vw 18.75vw 0 !important;
  background: white;
}

.vd-classify-wrapper{
  padding: 1vw 18.75vw 0 !important;
}

.vd-box-title {
  &:hover {
    color: #c10000;
    cursor: pointer;
  }
}

.shadow-box {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .15);
}


