<div class="contanniers">
  <div class="topBox">
    <p style="color: #404040;">
      <span style="margin-right: 9px;font-weight: bold" (click)="goBack()"><</span>
      <span>选择提现方式</span>
    </p>
    <div>
      <p style="color: #999;">账户余额（元）</p>
      <p>
        <span style="color: #D10000;font-size: 40px;font-family: Arial-BoldMT">{{acount}}</span>
        <span>元</span>
      </p>
    </div>
  </div>
  <div class="midDiv">
    你可以选择以下提现方式
  </div>
  <div class="bottomBox">
    <ul>
      <li (click)="goAlipay()">
        <div>
          <img src="../../assets/alipay-radio.png" alt="支付宝">
          <span>提现到支付宝</span>
        </div>
       <span>></span>
      </li>
      <li (click)="goBank()">
        <div>
          <img src="../../assets/card1.jpg" alt="银行卡">
          <span>提现到银行卡</span>
        </div>
        <span>></span>
      </li>
    </ul>
  </div>
</div>
